#testimonials.testimonials-container
  .testimonials-title Отзывы наших клиентов
  .w: .c.c12
    .testimonials-items
      each i in [1,2,3,4]
        .carousel-cell.testimonials-item: .wf
          .c.c6.testimonials-image-wrapper
            .testimonials-image
              a.testimonials-popup.testimonials-video(href='https://www.youtube.com/watch?v=qrwlk7_GF9g' data-type='iframe')
                img.testimonials-photo(src='http://placehold.it/360x257' width=360 height=257)
              img.testimonials-avatar(src='http://placehold.it/100x100')
          .c.c6
            .testimonials-content
              .testimonials-name Имя Фамилия
              .testimonials-text Искал замену порога, позвонил по первому попавшемуся объявлению. Понравился подход менеджера и то, что порог и замена в одном месте производится. Утром на следующий день поставил авто в сервис. Через 3 дня забрал. Результатом доволен, сэкономил время на поиск порога и деньги.
              a.testimonials-link(href='https://new.vk.com/id231771636' target='_blank') https://new.vk.com/id231771636