.gallery-container: .wf
  each i in [1,2,3,4,5,6,7,8,9,10]
    a.c.gallery-item(href='https://placehold.it/1000x1000?text=' + i data-width=1000 data-height=1000)
      img(src='https://placehold.it/200x143?text=' + i width=200 height=143)