.container
  display: block
  overflow: hidden
  //height: 143px
  img
    width: 100%
    display: block
    height: auto
    margin: 0 auto

.item
  position: relative
  cursor: pointer
  width: (100/6)%
  padding: 3px
  &:after, &:before
    content ''
    display: block
    position: absolute
    opacity: 0
    anim()

  &:before
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(black, .5)

  &:after
    background: url(sprites/sprite-zoom.svg)
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    //opacity: .4

  &:hover
    &:after, &:before
      opacity: 1

  @media (max-width: $breakpoint-md) {
    width: (100/4)%
  }

  @media (max-width: $breakpoint-sm) {
    width: (100/2)%
  }