.popular-container
  .popular-title Популярные модели
  .popular-subtitle Заказано более 360 порогов
  .popular-items: .w
    each i in [0,0,0,0,0,0,0,0]
      .c.c3: .popular-item
        .popular-image: img(src='modules/popular/car.jpg')
        .popular-label 56
        .popular-text
          .popular-name Toyota Camry
          a.popular-order(href='#request') Заказать в 1 клик
    .c.c12: .popular-note *56 – количество заказанных порогов