.container
  padding: 300px 0 50px
  background-color beige-two

  @media (max-width: $breakpoint-sm - 1)
    padding: 20px 0

.title
  font-size: 3em
  line-height: 1.2
  font-weight: 500
  text-align: center
  margin-bottom: 1em

  @media (max-width: $breakpoint-sm - 1)
    font-size: 2em

.subtitle
  font-style: 1.5em
  font-weight: 300
  text-align: center
  margin-bottom: 55px

.item
  margin: 0 auto 55px
  width: 224px

  @media (max-width: $breakpoint-lg - 1)
    width: auto

.image
  border-bottom: 3px solid scarlet
  margin-bottom: 13px

  img
    display: block
    margin: 0 auto

.label
  float: left
  font-size: .8em
  font-weight: 500
  color: white
  padding: 2px 13px
  border-radius: 13px
  background-color scarlet

.text
  text-align: right

.name
  display: block

.order
  font-size: .8em
  font-weight: 300
  color scarlet-three
  margin-top: 3px
  text-decoration: underline

  &:hover
    text-decoration: none

.note
  font-size: .8em
  font-weight: 300
  margin: 8px 0

  @media (min-width: $breakpoint-lg) {
    padding-left: 19px
  }