.slide-container: .slide-content.fh
  .w
    .c.c4: .slide-left
      a.slide-mail(href="mailto:mail@vseporogi.com") mail@vseporogi.com
      br
      .slide-work
        |Принимаем заявки #[br]
        |круглосуточно
    .c.c4
    .c.c4: .slide-right
      .slide-hours
        | Бесплатно со всех номеров РФ #[br]
        | Прием заказов с 9 до 21
      br
      button.slide-button Заказать обратный звонок

  .w.fh.slide-center
    .c.c12.slide-vc
      .slide-text
        h3.slide-small стальные, оцинкованные
        h1.slide-title Кузовные пороги
        h2.slide-subtitle для всех моделей#[br]автомобилей
        .slide-price
          .slide-number 4 900
          .r р
        h3.slide-small за комплект из двух порогов