.container
  padding-top: 90px
  height 100%
  min-height: 650px
  background-color beige-two
  position: relative
  overflow: hidden
  color greyish-brown

  @media (max-width: $breakpoint-sm)
    padding-top: 80px
    height: auto
    min-height: auto
    padding-bottom: 2em

  &:before, &:after
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)

  &:before
    background-image: url(modules/slide/car-1.jpg)
    width: 718px
    height: 414px
    right: 50%
    margin-right: 370px

  &:after
    background-image: url(modules/slide/car-2.jpg)
    width: 695px
    height: 364px
    left: 50%
    margin-left: 370px

    @media (max-width: $breakpoint-sm - 1)
      &:before, &:after
        background-image: none

.content
  position: relative
  z-index: 1

.center
  margin-top: -90px
  &:after
    content: ''
    vc()
    height: 100%

  @media (max-width: $breakpoint-sm)
    margin-top: 20px

    &:after
      display: none

.vc
  vertical-align: middle

.mail
  font-size: .9em
  font-weight: 600
  color: black  

.work
  margin-top: 12px
  font-size: .8em
  display: inline-block
  text-align: left

  &:before
    content: ''
    float: left
    display: block
    margin-top: 3px
    margin-right: 12px
    background-image: url(sprites/sprite-24.svg)

.left
  @media (max-width: $breakpoint-sm - 1)
    text-align: center

.city
  width: 180px
  margin: 0 auto

  @media (max-width: $breakpoint-sm - 1)
    margin-top: 12px
    margin-bottom: 12px


.right
  text-align: center
  font-size: .8em

  @media (max-width: $breakpoint-sm - 1)
    margin-top: 1em

.hours
  display: inline-block
  text-align: left
  margin-bottom: 10px

.button
  display: block
  margin: 0 auto
  font-size: 1em
  font-weight: 500
  background-color: transparent
  border-radius 64px
  border solid 1px #979797
  padding: 10px 0
  max-width: 220px
  color: black
  text-decoration: none
  anim()

  &:hover
    background: #979797
    color: white

  &:active
    background: darken(#979797, 10%)

.text
  text-align: center

  @media (max-width: $breakpoint-sm)
    font-size: .8em

.title
  font-size: 4em
  line-height: 1
  font-weight: 700
  margin: 0

.subtitle
  margin: .1em
  font-size: 3em
  font-weight: 200
  line-height: 1.05em

.small
  font-size: 1.1em
  font-weight: 300
  margin: 0

.price
  font-size: 1.1em

.number
  display: inline
  font-size: 3em
  color scarlet-two