include ../button/button

.info-container
  .w
    .c.c5: .info-col
      .info-title График работы
      .info-contact.info-call
        .info-contact-sub Заявки по телефону и отправка заказов
        | с 9 до 21 без выходных
      .info-contact.info-mail
        .info-contact-sub  Заявки по email mail@vseporogi.com
        |круглосуточно и без выходных
    .c.c7: .info-col
      .info-title Остались вопросы?
      .info-text Звоните по бесплатному номеру:
      .info-phone 8(800)777-00-55
      .info-text
        |или закажите:
        .info-button: +button() Обратный звонок
