//@import "selectize/dist/css/selectize.css"

.container
  height: 0

  @media (max-width: $breakpoint-sm - 1)
    height: auto

  select
    display: none

.wrapper
  margin-top: -250px
  border-radius 4px
  background-color white
  border-top: 6px solid white-two
  box-shadow 0 22px 35px 0 rgba(0, 0, 0, 0.1)
  padding: 35px
  position: relative
  z-index: 1

  &-city
    margin-top: -150px

  @media (max-width: $breakpoint-sm - 1)
    margin-top: 0
    padding: 25px 0
    border-radius 0
    box-shadow: none


.title
  font-size: 1.6em
  font-weight 600
  margin-bottom: 10px
  text-align: center

.subtitle
  opacity 0.5
  font-weight 300
  font-size: 1.1em
  text-align: center
  margin-bottom: 40px

.form
  font-size: 0
  margin: 0 -4px
  text-align: center


.select-wrapper
  vc()
  width: 20%
  padding 0 4px
  font-size: $font-size
  text-align: left
  margin-top: 8px

  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1)
    width: 33.333%

  @media (max-width: $breakpoint-sm - 1)
    width: 100%

.select
  display: block
  width: 100%
  position: relative
  
.button
  text-align: center
  margin-top: 35px

:global
  .selectize-input
    padding: 16px 40px 16px 20px
    border-radius 3px
    border solid 1px #dfdfdf
    font-size: .8em
    position: relative
    white-space: nowrap

    @media (max-width: $breakpoint-sm - 1)
      padding-top: 8px
      padding-bottom: 8px

    &:after
      content: ''
      display: block
      background: url(sprites/sprite-arrow.svg)
      position: absolute
      right: 24px
      top: 50%
      margin-top: -4px
      opacity: .4
      anim()

    &.dropdown-active:after
      transform: rotate(180deg)

    .item
      vertical-align: top
      display: inline-block
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 100%

    input
      font-size: 1em
      display: inline-block
      vertical-align: top
      padding: 0
      min-height: 0
      max-height: none
      max-width: 100%
      margin: 0 2px 0 0
      text-indent: 0
      border: 0 none
      background: none
      line-height: inherit
      -webkit-user-select: auto
      -webkit-box-shadow: none
      box-shadow: none

  .selectize-dropdown
    position: absolute
    z-index: 10
    border: 1px solid #E6E6E6
    background: #ffffff
    margin: -1px 0 0 0
    border-top: 0 none
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1)
    border-radius: 0 0 3px 3px
    max-height: 200px
    overflow-y: scroll

    .option
      font-size: .8em
      padding: 3px 20px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      cursor: pointer
      anim()

      &.active, &:hover
        background-color: scarlet
        color: white
