include ../button/button
include ../city/city

mixin form(withCity)
  .form-container: .w: .c.c12: .form-wrapper(class=withCity ? 'form-wrapper-city' : '' id=withCity ? '' : 'form')
    .form-title Выберите из списка свой автомобиль
    .form-subtitle и отправьте заявку на кузовные пороги
    form.form-form
      if (withCity)
        +city()
      .form-select-wrapper: select.form-select(data-placeholder='марка' name='brand' data-type='brand' disabled)
      .form-select-wrapper: select.form-select(data-placeholder='модель' name='model' data-type='model' disabled)
      .form-select-wrapper: select.form-select(data-placeholder='поколение' name='generation' data-type='generation' disabled)
      .form-select-wrapper: select.form-select(data-placeholder='кузов' name='body' data-type='body' disabled)
      .form-select-wrapper: select.form-select(data-placeholder='Кол-во' name='count' data-type='count')
        option Комплект
        option Левый
        option Правый

      .form-button
        +button() Отправить заявку