extends ../../modules/layout/layout
include ../../modules/form/form
include ../../modules/popup/popup

block body
  include ../../modules/header/header

  include ../../modules/slide/slide
  include ../../modules/slide2/slide2
  include ../../modules/slide3/slide3

  +form()(style='background: #3c3b3b')
  include ../../modules/advantages/advantages
  include ../../modules/about/about
  include ../../modules/prices/prices
  +form(true)(style='background:#f9f6f2')
  include ../../modules/popular/popular
  include ../../modules/process/process
  include ../../modules/gallery/gallery
  include ../../modules/testimonials/testimonials
  include ../../modules/delivery/delivery
  include ../../modules/faq/faq
  include ../../modules/partners/partners
  include ../../modules/info/info
  include ../../modules/map/map
  include ../../modules/footer/footer

  .index-popup
    +popup('callback', 'Заказать звонок', 'Оставьте номер телефона - мы перезвоним в течение 5 минут', 'Заказать звонок')
    +popup('request', 'Заявка', 'Оставьте номер телефона - мы перезвоним в течение 5 минут и сообщим о наличии', 'Оставить заявку')
    include ../../modules/policy/policy


  script.
    var CATALOG_URL = {
      brand: '../brands.json',
      model: '../brands.json',
      generation: '../brands.json',
      body: '../brands.json'
    };

    var MAPS = {
      map: [53.189798, 45.039265],
      map1: [53.189798, 45.039265],
      map2: [53.189798, 45.039265]
    };
