extends ../../modules/layout/layout

block body
  include ../../modules/header/header
  include ../../modules/slide/slide
  include ../../modules/advantages/advantages
  include ../../modules/about/about
  include ../../modules/prices/prices
  include ../../modules/popular/popular
  include ../../modules/process/process
  include ../../modules/gallery/gallery
  include ../../modules/testimonials/testimonials
  include ../../modules/delivery/delivery
  include ../../modules/faq/faq
  include ../../modules/info/info
  include ../../modules/footer/footer