extends ../../modules/layout/layout
include ../../modules/form/form
include ../../modules/popup/popup

block body
  include ../../modules/header/header
  include ../../modules/slide/slide
  +form()
  include ../../modules/advantages/advantages
  include ../../modules/about/about
  include ../../modules/prices/prices
  +form(true)
  include ../../modules/popular/popular
  include ../../modules/process/process
  include ../../modules/gallery/gallery
  include ../../modules/testimonials/testimonials
  include ../../modules/delivery/delivery
  include ../../modules/faq/faq
  include ../../modules/info/info
  include ../../modules/footer/footer

  .index-popup
    +popup('callback', 'Заказать звонок', 'Оставьте номер телефона - мы перезвоним в течение 5 минут', 'Заказать звонок')
    +popup('request', 'Заявка', 'Оставьте номер телефона - мы перезвоним в течение 5 минут и сообщим о наличии', 'Оставить заявку')

  script.
    var CATALOG_URL = {
      brand: '../brands.json',
      model: '../brands.json',
      generation: '../brands.json',
      body: '../brands.json'
    };