.bullets-container
  .bullets-item.bullets-icon1
    |Установка #[br]под ключ
  .bullets-item.bullets-icon2
    |Наличие #[br]на складе
  .bullets-item.bullets-icon3
    |Доставка #[br]в течение 1 дня