#prices.prices-container
  .w
    .c.c6.prices-left: .prices-content
      .prices-top
        .prices-x2
        .prices-price
          span.prices-number 4 900
          .r р
      .prices-text Фиксированная стоимость#[br]комплекта порогов
    .c.c6.prices-right: .prices-content
      .prices-top
        .prices-x1
        .prices-price
          span.prices-number 2 500
          .r р
      .prices-text Стоимость порога#[br]на одну сторону
