#faq.faq-container
  .w
    .c.c12
      .faq-title Вопросы и ответы
      .faq-subtitle Мы выделили основные вопросы, которые волнуют владельцев авто перед заказом порогов и оставили здесь
    .c.c6
      .faq-item
        .faq-question Из какого металла вы делаете пороги?
        .faq-answer В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм

      .faq-item
        .faq-question Из какого металла вы делаете пороги?
        .faq-answer В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
    .c.c6
      .faq-item
        .faq-question Из какого металла вы делаете пороги?
        .faq-answer В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм

      .faq-item
        .faq-question Из какого металла вы делаете пороги?
        .faq-answer В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
