.advantages-container
  .w
    .c.c4: .advantages-item.advantages-i-1 Полностью повторяют конфигурацию оригинальных порогов
    .c.c4: .advantages-item.advantages-i-2 Надежный материал - сталь от 1 до 1,5 мм
    .c.c4: .advantages-item.advantages-i-3
      |После монтажа не отличить от оригинальных
      a.advantages-link смотреть примеры работ
    .c.c4: .advantages-item.advantages-i-4 Фиксированная стоимость любых порогов - 4 900 руб. за комплект из 2 шт.
    .c.c4: .advantages-item.advantages-i-5 Осуществляем замену порогов "под ключ"
    .c.c4: .advantages-item.advantages-i-6 Работаем со всеми регионами РФ