.wrapper
  display: block
  width: 180px
  margin: 0 auto
  font-size: $font-size
  text-align: left

  :global(.selectize-input)
    border: 0
    border-bottom: solid 1px #979797
    padding: 3px 20px 3px 1px
    border-radius 0
    font-weight: 600

    &:after
      right: 3px
      opacity: 1

  @media (max-width: $breakpoint-sm - 1)
    width: 100%
    padding 0 4px

.select
  display: block