doctype html
html
  head
    title Hello
    link(href="https://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,700" rel="stylesheet")
    :styles

  body
    block body

    :scripts
    :hotreload