@font-face
  font-family: 'Rouble'
  src: url('fonts/Rouble-Regular.eot')
  src: url('fonts/Rouble-Regular.eot') format('embedded-opentype'),
          url('fonts/Rouble-Regular.woff2') format('woff2'),
          url('fonts/Rouble-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

html
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  font-size: $font-size
  line-height: $line-height

body
  margin: 0
  padding: 0
  font-family: 'Exo 2', sans-serif
  color black
  //vertical-gradient()

html, body
  height: 100%

*, *:before, *:after
  box-sizing: border-box
  outline: 0

img
  max-width: 100%

a
  font: inherit
  color: inherit

:global
  .r
    font-family: 'Rouble'
    display: inline

  .vc
     vc()

  .fh
    height: 100%

  .w
    margin-left: auto
    margin-right: auto
    wrapper()
    //background-grid()
    @media (min-width: $breakpoint-sm) and (max-width $breakpoint-md - 1)
      width: $container-sm
    @media (min-width: $breakpoint-md) and (max-width $breakpoint-lg - 1)
      width: $container-md
    @media (min-width: $breakpoint-lg)
      width: $container-lg

  .wf
    wrapper()
    margin-left: -($gutter-half)
    margin-right: -($gutter-half)

  .c
    col()

  for $col in (1..$cols-number)
    .c{$col}
      @media (min-width: $breakpoint-sm)
        width: round((100 / $cols-number * $col)%, 3)
    .c{$col}-sm
      @media (max-width: $breakpoint-sm)
        width: round((100 / $cols-number * $col)%, 3)
    .c{$col}-md
      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md)
        width: round((100 / $cols-number * $col)%, 3)
