.about-container
  .w
    .c.c4
      .about-title Немного #[span.about-under о наших] порогах
    .c.c4
      .about-item В наличии пороги более, чем на 300 моделей авто
      .about-item Если нет в наличии, изготовим за 1 день с момента обращения
      .about-item Точно подойдут вашему автомобилю
    .c.c4
      .about-item Изготавливаем только из качественной стали от 1 до 1,5 мм
      .about-item По стоимости в разы дешевле оригинальных с разборок
