include ../city/city
include ../button/button

#top.slide2-container: .slide2-content
  .w
    .c.c12
      .slide2-contacts
        a.slide2-mail(href="mailto:mail@vseporogi.com") mail@vseporogi.com
        .slide2-work
          |Принимаем заявки #[br]
          |круглосуточно
      h1.slide2-title Кузовные пороги и арки
      h2.slide2-subtitle для всех моделей автомобилей
      .slide2-text Комплект порогов
      .slide2-text2 всего за #[span.slide2-price 4500] #[.r р] #[span.slide2-price-old 4900 #[.r р]]
      .slide2-button: a.button-button.popup-opener(href='#callback') #[span.slide2-icon] Заказать

  //  .c.c4: .slide-left
  //    br
  //  .c.c4
  //    .slide-city: +city()
  //  .c.c4: .slide-right
  //    .slide-hours
  //      | Бесплатно со всех номеров РФ #[br]
  //      | Прием заказов с 9 до 21
  //    br
  //    a.slide-button.popup-opener(href='#callback') Заказать обратный звонок
  //
  //.w.slide-center
  //  .c.c12
  //    .slide-text
  //      h3.slide-small стальные, оцинкованные
  //      .slide-price-old
  //        .slide-number-old 4 500
  //        .r р
  //      .slide-price
  //        .slide-number 4 900
  //        .r р
  //      h3.slide-small за комплект из двух порогов