.content
  max-width: $container-md
  width: 90%
  margin: 0 auto
  background: white
  text-align: left
  padding: 1em
  font-size: .8em

  :global(.mfp-close)
    right: 1em

  h5
    font-size: 1.2em
    margin: 0 0 1em

