.footer-container
  .w
    .c.c4
      .footer-left
        .footer-logo
        .footer-text Кузовные пороги для всех моделей автомобилей

    .c.c4
      .footer-invite Вступайте в наши сообщества:
      .footer-socials
        a(href='#').footer-icon.footer-vk
        a(href='#').footer-icon.footer-instagram
        a(href='#').footer-icon.footer-autoru
        a(href='#').footer-icon.footer-drive

    .c.c4
      .footer-text Бесплатно со всех номеров РФ
      .footer-phone 8(800)777-00-55
      .footer-text Прием заказов с 9 до 21
