include ../city/city

#top.slide3-container: .slide3-content
  .slide3-stock
    span Весь апрель
    | доставка до двери по цене обычной
  .w
    .c.c4: .slide3-left
      a.slide3-mail(href="mailto:mail@vseporogi.com") mail@vseporogi.com
      br
      .slide3-work
        | Принимаем заявки #[br]
        | круглосуточно
    .c.c4
      .slide3-label Акция!
    .c.c4: .slide3-right
      .slide3-hours
        | Бесплатно со всех номеров РФ #[br]
        | Прием заказов с 9 до 21
      br
      a.button-button.popup-opener(href='#callback') Заказать обратный звонок

  .w.slide3-center
    h1.slide3-title ПОРОГИ и АРКИ
    h2.slide3-subtitle на все модели автомобилей

    .slide3-prices-wrapper: .slide3-prices
      .slide3-price
        .slide3-value
          .slide3-old 2250
          .slide3-new
            | 1750
            .r р
        .slide3-name
          .slide3-name-name ПОРОГИ
          .slide3-note одна сторона

      .slide3-date
        .slide3-date-text только до
        .slide3-date-date 18.11.2018

      .slide3-price
        .slide3-value
          .slide3-old 2250
          .slide3-new
            | 1750
            .r р
        .slide3-name
          .slide3-name-name АРКИ
          .slide3-note одна сторона

    .slide3-bullets-wrapper: .slide3-bullets
      .slide3-bullet
        .slide3-bullet-area
          .slide3-icon.slide3-star
          | Высококачественная сталь
      .slide3-bullet
        .slide3-bullet-area
          .slide3-icon.slide3-box
          | Бесплатная доставка#[span.slide3-aster *]
        .slide3-note #[span.slide3-aster *]при заказе комплекта пороги+арки
      .slide3-bullet
        .slide3-bullet-area
          .slide3-icon.slide3-wallet
          | Без предоплаты


